ul#gallery {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style: none;
  justify-content: flex-start;
}

ul#gallery li {
  margin-right: 10px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#boxes {
  display: flex;
  align-items: flex-end;
}
